
.card-title{
    text-align: center;
    color: #5c5c5c;
}

.card-login{
    background-color: #f1f1f1 !important;
    padding-top : 2.5em;
    padding-bottom : 2.5em;    
}

@media only screen and (min-width: 765px){
    .container-form{
        max-width: 600px;
    }
}